<h1>All Cars in my Garage:</h1>

<ul>
	<% if @cars.empty? %>
		<p> No cars present </p>
	<% else %>
			<% @cars.each do |car| %>
				<li><%= car.nickname %>: <%= car.year %> <%= car.make %> <%= car.model %>, <%= car.color %></li>
		<% end %>
	<% end %>
</ul>